# Fichiers générés par Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
android/.gradle/
android/app/debug.keystore
android/app/key.properties
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.generated/
build/

# Dépendances spécifiques à Flutter
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh

# Fichiers de configuration
*.iml
*.lock
*.log

# Fichiers de sauvegarde
*~
*.swp
*.bak

# Dossiers spécifiques à chaque plateforme
linux/
web/
windows/
macos/